

#header{
    min-height: 40px;
    /* text-align: center; */
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background: linear-gradient(to bottom,#fff 50%);
    border: 1px solid #d4d4d4;
}

div{
    display: block;
    unicode-bidi: isolate;
}

/* h1 {
    color: #000000;
    background-color: rgb(177, 181, 211);
    text-align: center;
    border-color: rgb(252, 252, 252);
    border-width: 100px;
} */

h3 {
    color: #dfdbe7;
    /* background-color: rgb(234, 235, 242); */
    text-align: center;
    border-color: black;
    border-width: 10px;
}

.buttonContainer{
    text-align: center;
    margin: 0 5px;
    position: relative;
    top: 100px;
}

.barContainer{
    /* text-align: center;*/
    max-width: 50vw;
    /* height: 25vh; */
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    align-items: baseline;
    /* justify-content: space-between; */
}

.bar{
    width: 20px;
    background-color: lightskyblue;
    border-radius: 5cqmax;
    margin: 0 5px;
    align-tracks: baseline;
    align-items:fixed;
}

.containers{
    text-align: center;
    max-width: 30vw;
    height: 25vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
